.btn {
  width: 8rem;
  height: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1.2rem;
  border: 1px solid rgb(0, 176, 135);
  border-radius: 0.4rem;
  background: rgba(22, 192, 152, 0.38);
  color: rgb(0, 135, 103);
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
